{{#each hikes as |hike|}}
  <div>
    <table class="table table-hover table-bordered table-condensed">
      <tbody data-id="{{hike.id}}">
	      <tr id="row-select">
          <td>{{hike.id}}</td>
          <td>{{hike.hike_date}}</td>
	        <td>{{hike.hike_name}}</td>
	       </tr>
	    </tbody>
	   </table>

    <!-- <li>{{#if book.description}}
      {{book.description}}
    {{else}}
      No description.
    {{/if}}</li> -->
    <!-- <li><button class="removeBookButton" class="btn btn-default">Remove</button></li> -->
  </div>
{{/each}}
